body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  text-align: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c; /* Old browsers */

  background: -moz-linear-gradient(
    -45deg,
    #4c4c4c 0%,
    #595959 12%,
    #666666 25%,
    #474747 39%,
    #2c2c2c 50%,
    #000000 51%,
    #111111 60%,
    #2b2b2b 76%,
    #1c1c1c 91%,
    #131313 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #4c4c4c 0%,
    #595959 12%,
    #666666 25%,
    #474747 39%,
    #2c2c2c 50%,
    #000000 51%,
    #111111 60%,
    #2b2b2b 76%,
    #1c1c1c 91%,
    #131313 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #4c4c4c 0%,
    #595959 12%,
    #666666 25%,
    #474747 39%,
    #2c2c2c 50%,
    #000000 51%,
    #111111 60%,
    #2b2b2b 76%,
    #1c1c1c 91%,
    #131313 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 310px;
  height: 480px;
  border-radius: 10px;
  margin: 0 auto;
}

.mainbox h1 {
  display: inline-block;
  margin-bottom: 10px;
}

.mainbox button {
  font-family: 'Montserrat Alternates', sans-serif;
  color: whitesmoke;
  margin-left: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 600;
  border: none;
  background-color: #c76363;
  transform: translate(15px, -5px);
  cursor: pointer;
}

.mainbox h2 {
  margin: 6px 0 0;
}

.data h2 {
  margin-top: 10px;
}

.mainbox p {
  font-size: 18px;
  margin: 5px auto 8px;
}

.mainbox span {
  color: #c76363;
}

.mainbox .name {
  width: 220px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 26px;
  border: solid 4px #c76363;
  border-radius: 10px;
  margin: 5px 0 5px;
}

.mainbox .name.error {
  background-color: #c76363;
  color: whitesmoke;
  animation: progress 0.4s infinite forwards;
}

@keyframes progress {
  0% {
    background-color: whitesmoke;
  }
  50% {
    background-color: #c76363;
  }
  100% {
    background-color: whitesmoke;
  }
}

@media all and (min-height: 480px) {
  body {
    height: 100vh;
  }
}

/*XS - smartphones landscape*/
@media all and (min-width: 576px) and (min-height: 0) {
  .mainbox {
    width: max-content;
    height: 320px;
  }
  .data {
    display: flex;
  }
  .data div {
    margin: 0 10px;
  }
}

@media all and (min-width: 576px) and (min-height: 320px) {
  body {
    height: 100vh;
  }
}
